@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(26, 59, 61);
}

.box {
  background: #fff;
  max-width: 500px;
  padding: 50px 30px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-align: center;
}

.box h2 {
  margin-bottom: 10px;
}

.box p {
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.form-control {
  position: relative;
}

.form-control input {
  font-family: "Poppins", sans-serif;
  display: block;
  width: 100%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 12px 25px;
  height: 40px;
  border-radius: 50px;
}

.form-control input:focus {
  outline: none;
}

.form-control .btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 25px;
  height: 40px;
  border-radius: 50px;
  background: rgb(26, 59, 61);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  transition: transform 80ms ease-in;
}

.form-control .btn:hover {
  opacity: 0.9;
}

.form-control .btn:active {
  transform: scale(0.95);
}

.form-control .btn:focus {
  outline: none;
}
